@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Night Process</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#/">Home</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <a href="/Run" class="btn btn-primary">Run</a>
      <div class="mastfoot">
        <div class="inner">
          <p>&copy; 2016 L33t Hax0rs.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>